data/
build/
gprof/
build-docker/
local/
.vs/
.vscode/
.idea/
.DS_Store
__pycache__
CMakeSettings.json
cmake-build-*

frontend/replay/*
tools/generator/output/*
tools/generator/*mega.json
tools/generator/*50_50*
tools/generator/*10_10*
tools/generator/100_100_m/*

tempCodeRunnerFile.py
