data/
build/
build-docker/
local/
.vs/
.vscode/
.idea/
.DS_Store
__pycache__
CMakeSettings.json
cmake-build-*

frontend/replay/*
tools/generator/output/*
tools/generator/*.json

tempCodeRunnerFile.py
